rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /clark-locations/{docId} {
      allow read: if true;
      allow write: if true;
    }
    match /clark-news/{docId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
